<% include partials/header %>

<%
    var filteredEntries = (entries).filter(x => x.body.length > 250);
    
    var cards = [];

    var colors = ["rgba(32, 34, 97, 1)", "rgba(119, 171, 84, 1)", "rgba(246, 184, 39, 1)", "rgba(245, 83, 83, 1)", "rgba(209, 38, 78, 1)"];

    // cards.push(generateCard("line", "Graph1", ["POSITIVE_AFFECT", "ORDER", "CHAOS"], ["Positivity", "Order", "Chaos"]));
    

    function generateCard(style, title, dataSetKeys, dataSetLabelNames)
    {
        var totals = [],
            xAxisLabels = [],
            dataSets = [],
            dataSetAverages = [],
            dataSetLabels = [];

        for (var i = 0; i < dataSetKeys.length; i++) {
            totals.push(0);
        }

        filteredEntries.forEach(function(entry) {
            for (var i = 0; i < dataSetKeys.length; i++) {
                totals[i] += entry.metadata.ri[dataSetKeys[i]] / entry.body.length; // so that longer entries aren't weighted heavier
            }
        });
        var i = 0;

        
        if (entries.length != 0) { // handle divide by zero
            for (var i = 0; i < dataSetKeys.length; i++) {
                dataSetAverages.push(totals[i] / entries.length); 
            }
        }
        else {
            for (var i = 0; i < dataSetKeys.length; i++) {
                dataSetAverages.push(0);
            }
        }

        for (var i = 0; i < dataSetKeys.length; i++) {
            dataSets.push([]);
        }

        filteredEntries.forEach(function(entry, index) {
            for (var i = 0; i < dataSetKeys.length; i++) {
                dataSets[i].push(entry.metadata.ri[dataSetKeys[i]] / entry.body.length - dataSetAverages[i]);
            }
            xAxisLabels.push(entry.date);
        });

        dataSetAverages.push(dataSetAverages[i]);

        return {
            graphStyle: "line",
            cardTitle: title,
            dataSetLabels: dataSetLabelNames,
            dataSetAverages: dataSetAverages,
            xAxisLabels: xAxisLabels,
            dataSets: dataSets
        }
    }



%>

<div class="container-fluid p-5">
    <h2 class="text-light border-bottom">Metadata</h2>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active btn btn-primary">
                <a class="nav-link " href="#">
                    Add Metric
                </a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <% 
            cards.forEach(function(card, index) {  
            // cycle colors for each chart
            firstColor = colors[0];
            colors = colors.slice(1, 5);
            colors.push(firstColor);
        %>
            <div class="col-md-6 col-lg-4 p-3">
                <%- include('./lineGraphCard', {
                    graphStyle: card.graphStyle,
                    cardTitle: card.cardTitle,
                    dataSetLabels: card.dataSetLabels,
                    dataSetAverages: card.dataSetAverages,
                    xAxisLabels: card.xAxisLabels,
                    dataSets: card.dataSets,
                    colors: colors,
                    key: index
                }) %>
            </div>
        <% }); %>
    </div>
</div>

<div class="spacer"></div>

<% include partials/footer %>