    <div class = "ui center aligned basic segment">
        <div class="ui secondary menu">
            <!--<a class="item">About</a>-->
            <!--<a class="item">Contact</a>-->
        </div>
    </div>
</body>
</html>