<!DOCTYPE html>
<html>
<head>
    <title>Freely</title>
    <link rel="stylesheet" type ="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui top fixed inverted borderless menu" id="menu">
        <a href="/"><h3 class="ui header item" id="site-title">Freely</h3></a>
        <div class="right menu">
            <% if (!currentUser) { %>
                <!--<a href="/about" class="item">About</a>-->
            <% } else { %>
                <!--<div class="item">-->
                <!--    <a href="/entries/new" class="ui green button">Start Freewriting Session</a>-->
                <!--</div>-->
                <% if (currentUser.isAdmin) { %>
                    <a id="no-darken" class="item">Welcome, admin user <%= currentUser.username %></a>
                    <a href="/quotes" class="item">Quotes</a>
                <% } %>
                <a href="/home" class="item">Home</a>
                <a href="/account" class="item">Account</a>
                <a href="/logout" class="item">Logout</a>
            <% } %>
        </div>
    </div>
    
    <div class="ui container">
        <% if (success && success.length > 0) { %>
        <div class="ui positive message" style="margin-top: 5em">
            <i class="close icon"></i>
            <div class="header">
                Success
            </div>
            <p><%= success %></p>
        </div>
        <% } %>
        <% if (error && error.length > 0) { %>
        <div class="ui negative message" style="margin-top: 5em">
            <i class="close icon"></i>
            <div class="header">
                Error
            </div>
            <p><%= error %></p>
        </div>
        <% } %>
    </div>

<script>
    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
</script>
