<!DOCTYPE html>
<html>
<head>
    <title><aWriting Blocks</title>
    <link rel="stylesheet" type ="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
</head>
<body>
    <div class="ui top fixed center aligned basic segment">
        <a href="/"><h3 class="ui header" id="site-title">writing blocks</h3></a>
    </div>