<% include partials/header %>

<div class="spacer"></div>

<div class="container my-5">
    
    <h2>About</h2>
    
    <p>This website was created entirely by Cole Taylor. Contact me at <a href="mailto:coletaylor017@gmail.com?subject=Hello!">coletaylor017@gmail.com</a>. Or find me on <a href="https://github.com/coletaylor017">github</a>.</p> 
</div>

<% include partials/footer %>