<% include partials/header %>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui header">Account</h2>
    
    <div class="ui text container left aligned">
        <div class="ui hidden divider"></div>
        <h2 class="ui header"><%= currentUser.username %></h2>
        <div class="ui divider"></div>
        <div class="ui three statistics">
            <div class="ui statistic">
                <div class="value"><%= moment().diff(moment(currentUser.dateCreated), 'days') %></div>
                <div class="label">Days since creation</div>
            </div>
            <div class="ui statistic">
                <div class="value"><%= entryCount %></div>
                <div class="label">Entries</div>
            </div>
            <div class="ui statistic">
                <div class="value"><%= wordCount %></div>
                <div class="label">Words</div>
            </div>
            <!--<div class="ui statistic">-->
            <!--    <div class="value">ejs currentuser.streak</div>-->
            <!--    <div class="label">Current streak</div>-->
            <!--</div>-->
        </div>
    </div>
    
    <div class="ui hidden divider"></div>

    <form action="/account?_method=DELETE" method="POST" class="ui left aligned container">
        <button action="submit" class="ui red button">Delete Account (Very permanent!)</button>
    </form>
</div>



<% include partials/footer %>