<% include partials/header %>

<%
    var filteredEntries = (entries).filter(x => x.body.length > 250);
    
    var cards = [];
    
    cards.push(generateCard("line", "Mood over Time", ["POSITIVE_AFFECT", "ORDER"]))
    function generateCard(style, title, dataSetKeys)
    {
        var totals = [],
            xAxisLabels = [],
            dataSets = [],
            dataSetAverages = [],
            dataSetLabels = [];

        for (var i = 0; i < dataSetKeys.length; i++) {
            totals.push(0);
        }

        filteredEntries.forEach(function(entry) {
            for (var i = 0; i < dataSetKeys.length; i++) {
                totals[i] += entry.metadata.ri[dataSetKeys[i]] / entry.body.length; // so that longer entries aren't weighted heavier
            }
        });
        var i = 0;

        
        if (entries.length != 0) { // handle divide by zero
            dataSetAverages.push(totals[i] / entries.length); 
        }
        else {
            dataSetAverages.push(0);
        }

        for (var i = 0; i < dataSetKeys.length; i++) {
            dataSets.push([]);
        }

        filteredEntries.forEach(function(entry, index) {
            for (var i = 0; i < dataSetKeys.length; i++) {
                dataSets[i].push(entry.metadata.ri[dataSetKeys[i]] / entry.body.length - dataSetAverages[i]);
            }
            xAxisLabels.push(entry.date);
        });

        dataSetLabels.push("Mood");
        dataSetAverages.push(dataSetAverages[i]);

        return {
            graphStyle: "line",
            cardTitle: "Mood over Time",
            dataSetLabels: dataSetLabels,
            dataSetAverages: dataSetAverages,
            xAxisLabels: xAxisLabels,
            dataSets: dataSets
        }
    }



%>

<div class="container">
    <h2 class="text-light border-bottom">Metadata</h2>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active btn btn-primary">
                <a class="nav-link " href="#">
                    Add Metric
                </a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <%- include('./partials/lineGraphCard', {
                graphStyle: cards[0].graphStyle,
                cardTitle: cards[0].cardTitle,
                dataSetLabels: cards[0].dataSetLabels,
                dataSetAverages: cards[0].dataSetAverages,
                xAxisLabels: cards[0].xAxisLabels,
                dataSets: cards[0].dataSets
            }) %>
        </div>
    </div>
</div>

<div class="spacer"></div>

<% include partials/footer %>