<% include partials/header %>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <div class="ui huge orange statistic">
        <div class="value"><%= currentUser.streak %><i class="ui small fire icon"></i></div>
        <div class="label">Current streak</div>
    </div>
    <br>
    <a href="/entries/new" class="ui huge green button">Start Freewriting Session</a>
    
    <div class="ui text container center aligned">
        <div class="ui hidden divider"></div>
        <h2 class="ui header">Your Stats</h2>
        <div class="ui divider"></div>
        <div class="ui three statistics">
            <div class="ui statistic">
                <div class="value"><%= moment().diff(moment(currentUser.dateCreated), 'days') %></div>
                <div class="label">Days since creation</div>
            </div>
            <div class="ui blue statistic">
                <div class="value"><%= entryCount %></div>
                <div class="label">Sessions</div>
            </div>
            <div class="ui green statistic">
                <div class="value"><%= wordCount %></div>
                <div class="label">Total Words</div>
            </div>
        </div>
    </div>
    
    <div class="ui hidden divider"></div>

</div>



<% include partials/footer %>