<!DOCTYPE html>
<html>
<head>
    <title>Write Now</title>
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <div class="ui basic center aligned inverted segment" id="jumbotron"> <!--Sometimes I question my choice of going with Semantic instead of Bootstrap...-->
        <h1 class="ui header" id="site-title">AI Notebook</h1>
        <h4 class="ui header" id="site-subtitle">Get more out of your journal.</h4>
        <!--<h3 class="ui header">Daily stream-of-consciousness writing for a more mindful life.</h3>-->
        <div class="ui hidden divider"></div>
        <a href="/register" class="ui huge primary button">Sign up for free<i class="ui right arrow icon"></i></a><br>
        <% if (!currentUser) { %>
            <a href="/login" class="ui secondary button">Log In</a>
        <% } else { %>
            <a href="/home" class="ui secondary button">Log In</a>
        <% } %>
    </div>

    <!-- <div class="ui lander-padded container"></div> -->

    <!-- <div class="ui container">
        <h1 class="ui center aligned header"></h1> -->
        <!-- <div class="ui hidden divider"></div> -->
        <!-- <div class="ui center aligned basic segment"> -->
            <!-- <h2 class="ui header" id="summary">Daily meditative writing is good for the mind and the soul. Write Now helps you stay motivated and provides you with insightful analysis of your writing, so that you can start to enjoy writing every day and achieve a more mindful life.</h2> -->
            <!-- <h2 class="ui header" id="summary">Get more out of your journal.</h2> -->
        <!-- </div> -->
    </div>

    <!-- <div class="ui lander-padded center aligned stripe container">
        <div class="ui hidden divider"></div>
        <p class="landing-p"><i>Write Now</i> views writing as a daily mindfulness exercise- a form of meditation. For this reason, your entries aren't saved after you write them. This is on purpose! The focus here isn't to create something beautiful that you'll look back on- it's about using writing to vent, rant, get something off your chest, and clear your head.</p>
        You can still look back and track metadata from past entries- things like how you were feeling and what you were thinking about.
    </div> -->

    <div class="ui lander-padded container">
        <div class="ui basic segment">
            <div class="ui basic hidden segment"></div>
            <div class="ui basic hidden segment"></div>
            <h1 class="ui center aligned header" id="site-title">The online journal built on AI.</h1>
            <div class="ui basic hidden segment"></div>
            <div class="ui basic hidden segment"></div>
        </div>
        <div class="ui basic segment">
            <div class="ui hidden divider"></div>
            <div class="ui stackable very realaxed grid container">
                <!-- <div class="row">
                    <div class="six wide column">
                        <h3 class="ui center aligned header"></h3>
                    </div>
                    <div class="ten wide column">
                        <img src="/images/ui-showcase.png" alt="A streak" class="ui fluid image">
                    </div>
                </div>
                <div class="row"><div class="spacer"></div></div> -->
                <div class="row">
                    <div class="six wide column">
                        <h3 class="ui center aligned header">AI reads each journal entry and extracts data, like your mood, 
                            attitude toward certain people and events, and activities participated in that day.
                        </h3>
                    </div>
                    <div class="ten wide column">
                        <img src="/images/metadata-showcase.png" alt="A streak" class="ui fluid image">
                    </div>
                </div>
                <div class="row"><div class="spacer"></div></div>
                <div class="row">
                    <div class="ten wide column">
                        <img src="/images/metadatapage-showcase.png" alt="A streak" class="ui fluid image">
                    </div>
                    <div class="six wide column">
                        <h3 class="ui center aligned header">Learn about yourself through your data. 
                            Want to see how your mood changes during different times of the year? You got it.
                            Curious if your thoughts have been more positive since you started that yoga class? We can help with that. 
                            Wondering what was on your mind a year ago today? Find out without reading a word.
                            Everything is displayed in the form of beautiful, minimalist charts and graphs. 
                        </h3>
                    </div>
                </div>
                <div class="row"><div class="spacer"></div></div>
                <div class="row">
                    <div class="eight wide column">
                        <img src="/images/streak-showcase.png" alt="A streak" class="ui fluid image">
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui center aligned header">AI Notebook also has standard features including achievements, 
                            daily writing streaks, and tagging. We use end-to-end encryption and partner with
                            trusted organizations for maximum security. 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="black lander-padded container">
        <div class="ui container mission">
            <h1 class="ui center aligned inverted header" id="mission">Writing down your thoughts in an unstructured way every day is a powerful way to find peace, happiness, and mental clarity.</h1>
        </div>
        
        <div class="ui hidden divider"></div>
        
        <h4 class="ui horizontal green inverted header divider">
            The Evidence
        </h4>
        <div class="ui lander-padded container">
            <div class="ui three column stackable grid">
                <div class="column">
                    <div class="ui inverted segment">
                        <h2 class="ui center aligned header">Expressing our emotions helps us to control them.</h2>
                        <p class="landing-p">A 2007 UCLA study focused on the reaction of the amygdala, the brain’s alarm system, when participants were shown pictures of angry or fearful faces. Some were asked to describe each face’s emotion as it appeared, and others simply observed. Their brain activity was studied using fMRI. <strong>Participants who described what they were observing showed a decreased fear response.</strong></p>
                        <p class="landing-p">Labelling emotions also activated a part of the brain associated with emotion processing and self-inhibition.</p>
                        <a href="https://www.sciencedaily.com/releases/2007/06/070622090727.htm" target="_blank">University of California - Los Angeles. "Putting Feelings Into Words Produces Therapeutic Effects In The Brain." ScienceDaily. ScienceDaily, 22 June 2007. <www.sciencedaily.com/releases/2007/06/070622090727.htm>.</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui inverted segment">
                        <h2 class="ui center aligned header">Writing can help us recover from difficult events.</h2>
                        <p class="landing-p">
                            In 1991, an experiment was conducted involving 41 people who were recently laid off. They were divided into three groups- one was not given special instructions; one was instructed to write about their day; and a third was asked to write about their deepest thoughts and emotions surrounding the job loss and their job search. The third group showed mich higher job placement rates compared to the other two after eight months.
                        </p>
                        <a href="https://www.jstor.org/stable/256708" target="_blank">Spera, Stefanie P., et al. “Expressive Writing and Coping with Job Loss.” The Academy of Management Journal, vol. 37, no. 3, 1994, pp. 722–733. JSTOR, www.jstor.org/stable/256708.</a>
                      </div>
                </div>
                <div class="column">
                    <div class="ui inverted segment">
                        <h2 class="ui center aligned header">Writing can improve overall health.</h2>
                        <p class="landing-p">
                            Another experiment had participants engage in 15-minute writing sessions for three days. Those who wrote about emotional or traumatic experiences reported that although the writing may have been distressing, they considered the experience very valuable and would do it again. These participants also exhibited increases in mental and physical health.
                        </p>
                        <a href="http://search.ebscohost.com/login.aspx?direct=true&db=mdc&AN=11045774&site=ehost-live" target="_blank">Pennebaker, J. W., and J. D. Seagal. “Forming a Story: The Health Benefits of Narrative.” Journal Of Clinical Psychology, vol. 55, no. 10, Oct. 1999, pp. 1243–1254. EBSCOhost, search.ebscohost.com/login.aspx?direct=true&db=mdc&AN=11045774&site=ehost-live.</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted center aligned segment">
                <h3 class="ui inverted header">
                    Numerous other studies have affirmed the ability of personal and emotional writing to improve long-term mood and even physical health. 
                </h3>
            </div>
        </div>
        <div class="ui hidden divider"></div>
    </div>
    
    <!--Testimonials will go here, if we ever get any :P-->
    <!--<div class="ui vertical stripe quote segment">-->
    <!--    <div class="ui equal width stackable internally celled grid">-->
    <!--      <div class="center aligned row">-->
    <!--        <div class="ui very padded basic segment column">-->
    <!--          <h3>"What a Company"</h3>-->
    <!--          <p>That is what they all say about us</p>-->
    <!--        </div>-->
    <!--        <div class="ui very padded basic segment column">-->
    <!--          <h3>"I shouldn't have gone with their competitor."</h3>-->
    <!--          <p>-->
    <!--            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys-->
    <!--          </p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->

    <div class="ui center aligned inverted stackable middle aligned grid segment" id="ten-padded">
        <div class="ten wide column">
            <h2 class="ui inverted header">Start your writing journey now.</h2>
            <p>Signing up while the app is in beta means your account is free, forever.</p>
        </div>
        <div class="ui six wide column inverted left aligned segment">
            <div class="ui container">
                <% if (success && success.length > 0) { %>
                <div class="ui positive message thing" style="margin-top: 5em">
                    <i class="close icon"></i>
                    <div class="header">
                        Success
                    </div>
                    <p><%= success %></p>
                </div>
                <% } %>
                <% if (error && error.length > 0) { %>
                <div class="ui negative message thing" style="margin-top: 5em">
                    <i class="close icon"></i>
                    <div class="header">
                        Error
                    </div>
                    <p><%= error %></p>
                </div>
                <% } %>
            </div>
            
            <form class="ui inverted form" id="main-form" action="/register" method="POST">
                <div class="field">
                    <input type="text" placeholder="username" name="username">
                </div>
                <div class="field">
                    <input type="password" placeholder="password" name="password">
                </div>
                <div class="field">
                    <input type="password" placeholder="repeat password" name="password2">
                </div>
                <div class="ui left floated field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="terms">
                        <label>I agree to the <a href="/terms" target="_blank"><u>terms and conditions</u></a></label>
                    </div>
                    <button class="ui right floated primary button">Sign Up</button>
                </div>
                <div class="ui error message"></div>
                <div class="ui hidden divider"></div>
            </form>
        </div>
    </div>

<script>

//If there's a login error message, scroll down to login form

$('.ui.form')
    .form({
        fields: {
            username: {
                identifier: 'username',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a username'
                    }
                ]
            },
            password: {
                identifier: 'password',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a password'
                    },
                    {
                        type: 'match[password2]',
                        prompt: "Passwords must match"
                    }
                ]
            },
            terms: {
                identifier: 'terms',
                rules: [
                {
                        type   : 'checked',
                        prompt : 'You must agree to the terms and conditions'
                    }
                ]
            }
        }
    })
;
        
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;

var elmnt = document.querySelector(".thing");
elmnt.scrollIntoView();
</script>
