<!DOCTYPE html>
<html>
<head>
    <title>Writing Blocks</title>
    <link rel="stylesheet" type ="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=cutive+mono" rel="stylesheet">
</head>
<body>
    <div class="ui basic center aligned inverted segment" id="splash">
        <h1 class="ui header" id="site-title">writing blocks</h1>
        <h3 class="ui header">Daily freewriting for a better life.</h3>
        <div class="ui hidden divider"></div>
        <a href="/register" class="ui huge green inverted button">Sign Up</a><br>
        <a href="/login" class="ui secondary button">Log In</a>
    </div>
    
    <div class="ui vertical stripe segment" id="stripe">
        <div class="ui basic center aligned segment">
            <h1 class="ui header">Why Freewriting?</h1>
        </div>
        <div class="ui left aligned padded text container">
            <p>
            Whenever we write formally, we tend to censor ourselves and edit our work as we produce it. This can eliminate valid thoughts and discourage creativity. 
            </p>
            <p>
            In contrast, freewriting is a free-flowing style of writing where thoughts flow stright from your brain onto the page. When done properly, freewriting produces original ideas, helps to process emotions, and clears the mind.
            </p>
            <div class="ui hidden divider"></div>
            <div class="ui basic center aligned segment">
                <h2 class="ui header">Writing Blocks: A better way to freewrite</h2>
            </div>
            <p>
                Writing Blocks helps you reap the benefits of freewriting. Here, you can find  inspiration, maintain a daily freewriting habit, and analyze your work, all in a beautifully simple, distraction-free interface.
            </p>
        </div>
        <div class="ui basic center aligned segment">
            <a href="/register" class="ui large inverted green button">Get Started</a>
        </div>

    </div>
