<% include partials/header %>

<div class="spacer"></div><div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui inverted header">Log In</h2>
    
    <div class="ui left aligned container">
       <form class="ui form" action="/login" method="POST">
          <div class="field">
            <input type="text" placeholder="username" name="username" autofocus>
          </div>
          <div class="field">
            <input type="password" placeholder="password" name="password">
          </div>
          <button class="ui green button">Log In</button>
          <a href="/register">Or sign up instead</a>
       </form>
    </div>
</div>
