<% include partials/header %>

<script src="/tagify.min.js"></script>
<link rel="stylesheet" href="/stylesheets/tagify.css">
<script>
    var timerOn = 0;
    function toggleTimer() {
        var timer = document.querySelector(".timer");
         if (timer.style.display !== "none") {
            timer.style.display = "none";
            document.querySelector(".timerOn").style.display = "inline";
         } else {
            timer.style.display = "block";
            document.querySelector(".timerOn").style.display = "none";
         }
    }
</script>
<div class="ui container center aligned main">
    <h2 class="ui header">Write!</h2>
    
    <div class="ui bulleted list">
        <div class="item">Write whatever comes to mind</div>
        <div class="item">Pick a time, ideally 20-30 minutes, and don't stop or pause before the time is up</div>
        <div class="item">If you don't know what to write, write "I don't know what to write" until you do.</div>
        <!--<div class="item timerOn" style="display:none">Click <a onclick='toggleTimer()'>here</a> for a handy timer</div>-->
    </div>
    <!--<div class="timer">-->
    <!--    hi I'm a timer-->
    <!--    <div><a class="timer-close" onclick='toggleTimer()'>Click to close</a></div>-->
    <!--</div>-->
    
    <form action="/entries" method="POST" class="ui form">
        <div class="ui field">
            <div class="ui fluid icon input">
                <input type="text" name="tags" placeholder="Write some tags. '#' is not necessary" id="transparent", autofocus>
                <i class="ui question circle outline link icon modal-btn"></i>
            </div>
        </div>
        <!--<div class="field">-->
        <!--    <input type="text" name="entry[metadata]" placeholder="Metadata">-->
        <!--</div>-->
        <textarea id="entrybox" rows="10" name="entry[body]" class="current-entry" placeholder="Start writing" id="transparent"></textarea>
        <a href="/entries" class="ui icon button" title="Back"><i class="ui left arrow icon"></i></a>
        <button class="ui green button" type="submit" title="Save!"><i class="ui check icon"></i>Done</button>
    </form>
</div>

<div class="ui large modal">
    <div class="header">Help: Tags</div>
    <div class="image content">
        <div class="ui large bordered image">
            <img src="/images/tagshelp1.png">
        </div>
        <div class="description">
            <p>Use tags to categorize entries. For example, you could tag every entry that talks about dogs with 'dogs'.</p>
        </div>
    </div>
    <div class="image content">
        <div class="ui large bordered image">
            <img src="/images/tagshelp2.png">
        </div>
        <div class="description">
            <p>Your tags will show up to the left of your timeline.</p>
        </div>
    </div>
    <div class="image content">
        <div class="ui large bordered image">
            <img src="/images/tagshelp3.png">
        </div>
        <div class="description">
            <p>Clicking on a tag will show you all the blocks that reference that tag.</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui close button">Got it</div>
    </div>
</div>

<script>
    var tagArr = <%- JSON.stringify(tags) %>;
    var input = document.querySelector("input[name=tags]");
    // init Tagify script on the above inputs
    tagify = new Tagify(input, {
        delimiters          : ",| ",  // add new tags when a comma or a space character
        keepInvalidTags     : false,  // do not remove invalid tags (but keep them marked as invalid)
        whitelist: tagArr,
        dropdown : {
            enabled: 3,
            maxItems: 5
        }
    });
    
    var btn = document.querySelector(".modal-btn");
    btn.onclick = function() {
        $('.ui.modal').modal({
            onShow: function(){
                console.log('shown');
            },
            onHide: function(){
                console.log('hidden');
            }
        }).modal('show');
    }
    
    //workaround for a Semantic UI bug where modal buttons don't close the modal. Credit: GitHub user hammy2899, Source: https://github.com/Semantic-Org/Semantic-UI/issues/6540
    $('.ui.modal')
      .modal('attach events', '.close.button')
    ;
</script>

<% include partials/footer %>