<% include partials/header %>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui header"></h2>
    
    <div class="ui left aligned container">
        <div class="ui horizontal list">
            <h4 class="ui item header"><%= moment(entry.date).format("D MMM YYYY, h:mm a") %></h4>
            <% entry.tags.forEach(function(tag) { %>
                <h4 class="ui item label" id="tags">
                    <%= tag.name %>
                </h4>
            <% }); %>
        </div>
        <p class="entrybody"><%= entry.body %></p>
    </div>
    
    <h2 class="ui header">Metadata</h2>
    <div class="ui divider"></div>
    <div class="ui doubling stackable grid">
        <div class="two column row">
            <div class="chart column" style="position: relative">
                <canvas id="chart1"></canvas>
            </div>
            <div class="chart column" style="position: relative">
                <canvas id="chart2"></canvas>
            </div>
        </div>
        <div class="two column row">
            <div class="chart column" style="position: relative">
                <canvas id="chart3"></canvas>
            </div>
            <div class="chart column" style="position: relative">
                <canvas id="chart4"></canvas>
            </div>
        </div>
    </div>
    
    <div class="spacer"></div>
    
    <a href="/home" class="ui green button" title="Home"><i class="ui home icon"></i>Home</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

<script>

var data = <%-JSON.stringify(rid)%>;

// https://stackoverflow.com/questions/684672/how-do-i-loop-through-or-enumerate-a-javascript-object

var myPieChart = new Chart(document.getElementById("chart1"), {
    type: 'pie',
    data: {
        labels: [
            'chaos',
            'order'
        ],
        datasets: [{
            data: [
                data.CHAOS,
                data.ORDER
        ],
            backgroundColor: [
                'black',
                'lightblue'
            ]
        }]
    },
    options: {
        responsive: true
    }
});

var myPieChart = new Chart(document.getElementById("chart2"), {
    type: 'pie',
    data: {
        labels: [
            'sight',
            'sound',
            'smell',
            'taste',
            'touch'
        ],
        datasets: [{
            data: [
                data.VISION,
                data.SOUND,
                data.ODOR,
                data.TASTE,
                data.TOUCH
        ],
            backgroundColor: [
                'green',
                'blue',
                'red',
                'orange',
                'yellow'
            ]
        }]
    },
    options: {
        responsive: true
    }
});

var myPieChart = new Chart(document.getElementById("chart3"), {
    type: 'pie',
    data: {
        labels: [
            'narcissism',
            'positivity',
            'anxiety',
            'sadness',
            'affection',
            'agression'
        ],
        datasets: [{
            data: [
                data.NARCISSISM,
                data.POSITIVE_AFFECT,
                data.ANXIETY,
                data.SADNESS,
                data.AFFECTION,
                data.AGRESSION
            ],
            backgroundColor: [
                'green',
                'blue',
                'red',
                'orange',
                'yellow',
                'pink'
            ]
        }]
    },
    options: {
        responsive: true
    }
});

var myPieChart = new Chart(document.getElementById("chart4"), {
    type: 'pie',
    data: {
        labels: [
            'concrete',
            'abstract'
        ],
        datasets: [{
            data: [
                data.VISION,
                data.SOUND,
                data.ODOR,
                data.TASTE,
                data.TOUCH
        ],
            backgroundColor: [
                'orange',
                'red'
            ]
        }]
    },
    options: {
        responsive: true
    }
});
</script>

<% include partials/footer %>