<% include partials/header %>

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chartistCustom.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<div class="spacer"></div>

<div class="ui text container center aligned main">
        
    <div class="ui left aligned inverted container">
        <div class="ui horizontal list">
            <h4 class="ui inverted item header"><%= moment(entry.date).format("D MMM YYYY, h:mm a") %></h4>
            <% entry.tags.forEach(function(tag) { %>
                <h4 class="ui item label" id="tags">
                    <%= tag %>
                </h4>
            <% }); %>
        </div>
        <p class="entrybody"><%= entry.body %></p>
        <h1 class="ui inverted header">Watson data</h1>
        <p class="entrybody"><%- JSON.stringify(entry, null, 4) %></p>
    </div>
    
    <a href="/entries" class="ui green button" title="Home"></i>All Entries</a>
</div>

<script>



// var options = {
//     labelOffset: 50,
//     labelDirection: 'explode',
//     chartPadding: 20
// }

// new Chartist.Pie('#chart1', {
//     labels: [
//         'chaos',
//         'order'
//     ],
//     series: [
//         data.CHAOS,
//         data.ORDER
//     ]
// }, options);

// new Chartist.Pie('#chart2', {
//     labels: [
//         'sight',
//         'sound',
//         'smell',
//         'taste',
//         'touch'
//     ],
//     series: [
//         data.VISION,
//         data.SOUND,
//         data.ODOR,
//         data.TASTE,
//         data.TOUCH
//     ]
// }, options);

// new Chartist.Pie('#chart3', {
//     labels: [
//         'positivity',
//         'anxiety',
//         'sadness',
//         'affection',
//         'aggression'
//     ],
//     series: [
//         data.POSITIVE_AFFECT,
//         data.ANXIETY,
//         data.SADNESS,
//         data.AFFECTION,
//         data.AGGRESSION
//     ]
// }, options);

// new Chartist.Pie('#chart4', {
//     labels: [
//         'concrete',
//         'abstract'
//     ],
//     series: [
//         data.CONCRETENESS,
//         data.ABSTRACT_THOUGHT
//     ]
// }, options);

// new Chartist.Pie('#chart5', {
//     labels: [
//         'social',
//         'work'
//     ],
//     series: [
//         data.SOCIAL_BEHAVIOR,
//         data.INSTRU_BEHAVIOR
//     ]
// }, options);

</script>

<% include partials/footer %>