<% include partials/header %>

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chartistCustom.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui header"></h2>
    
    <div class="ui left aligned container">
        <div class="ui horizontal list">
            <h4 class="ui item header"><%= moment(entry.date).format("D MMM YYYY, h:mm a") %></h4>
            <% entry.tags.forEach(function(tag) { %>
                <h4 class="ui item label" id="tags">
                    <%= tag.name %>
                </h4>
            <% }); %>
        </div>
        <p class="entrybody"><%= entry.body %></p>
    </div>
    
    <h2 class="ui header">Metadata</h2>
    <div class="ui divider"></div>
    <div class="ui doubling stackable grid">
        <div class="two column row">
            <div class="chart column" style="position: relative">
                <div class="ct-chart ct-square" id="chart1"></div>
            </div>
            <div class="chart column" style="position: relative">
                <div class="ct-chart ct-square" id="chart2"></div>
            </div>
        </div>
        <div class="two column row">
            <div class="chart column" style="position: relative">
                <div class="ct-chart ct-square" id="chart3"></div>
            </div>
            <div class="chart column" style="position: relative">
                <div class="ct-chart ct-square" id="chart4"></div>
            </div>
        </div>
    </div>
    
    <div class="spacer"></div>
    
    <a href="/home" class="ui green button" title="Home"><i class="ui home icon"></i>Home</a>
</div>

<script>

var data = <%-JSON.stringify(rid)%>;

// https://stackoverflow.com/questions/684672/how-do-i-loop-through-or-enumerate-a-javascript-object

var options = {
    labelOffset: 50,
    labelDirection: 'explode',
    chartPadding: 20
}

new Chartist.Pie('#chart1', {
    labels: [
        'chaos',
        'order'
    ],
    series: [
        data.CHAOS,
        data.ORDER
    ]
}, options);

new Chartist.Pie('#chart2', {
    labels: [
        'sight',
        'sound',
        'smell',
        'taste',
        'touch'
    ],
    series: [
        data.VISION,
        data.SOUND,
        data.ODOR,
        data.TASTE,
        data.TOUCH
    ]
}, options);

new Chartist.Pie('#chart3', {
    labels: [
        'narcissism',
        'positivity',
        'anxiety',
        'sadness',
        'affection',
        'aggression'
    ],
    series: [
        data.NARCISSISM,
        data.POSITIVE_AFFECT,
        data.ANXIETY,
        data.SADNESS,
        data.AFFECTION,
        data.AGGRESSION
    ]
}, options);

new Chartist.Pie('#chart4', {
    labels: [
        'concrete',
        'abstract'
    ],
    series: [
        data.CONCRETENESS,
        data.ABSTRACT_THOUGHT
    ]
}, options);

</script>

<% include partials/footer %>