<% include partials/header %>

<div class="spacer"></div><div class="spacer"></div>

<div class="ui inverted text container center aligned main">
    
    <h2 class="ui inverted header">Sign Up</h2>
    
    <div class="ui left aligned container">
        <form name="myForm" class="ui inverted form" action="/register" method="POST">
            <div class="field">
                <input type="text" placeholder="username" name="username" autofocus>
            </div>
            <div class="field">
                <input type="password" placeholder="password" name="password">
            </div>
            <div class="field">
                <input type="password" placeholder="repeat password" name="password2">
            </div>
            <div class="ui field">
                <div class="ui checkbox">
                    <input type="checkbox" name="terms">
                    <label>I agree to the <a href="/terms" target="_blank">terms and conditions</a></label>
                </div>
            </div>
            <button class="ui green button">Sign Up</button>
            <a href="/login">Or log in instead</a>
            <div class="ui error message"></div>
        </form>
        <div class="ui hidden divider"></div>
        <p style="color: red; text-align: center">This site is currently in beta. Please read the terms and conditions carefully before signing up.</p>
    </div>
</div>

<script>

$('.ui.form')
    .form({
        fields: {
            username: {
                identifier: 'username',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a username'
                    }
                ]
            },
            password: {
                identifier: 'password',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a password'
                    },
                    {
                        type: 'match[password2]',
                        prompt: "Passwords must match"
                    }
                ]
            },
            terms: {
                identifier: 'terms',
                rules: [
                {
                        type   : 'checked',
                        prompt : 'You must agree to the terms and conditions'
                    }
                ]
            }
        }
    })
;

</script>
