<% include partials/header %>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui inverted header">Terms and Conditions/User Agreement</h2>
    
    <div class="ui divider"></div>
    
    <div class="ui inverted text container segment left aligned">
        <p>By signing up, you give permission for the creator(s) of this site to collect anonymous usage data. This data will be used to improve user experience and will not be sold or shared with third parties. We do not collect or look at personally identifiable data.</p>
        <p>We do our best to keep your data safe. All passwords and emails are encrypted. The site's database is hosted in the cloud by mLab, a service owned by MongoDB with a high reputation that follows industry standards for security. This site uses HTTPS.</p>
        </p>
    </div>
</div>

<% include partials/footer %>