<% include partials/header %>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui header">Terms and Conditions</h2>
    
    <div class="ui text container left aligned">
        <p>This site is currently in beta. Some features may be broken or missing.</p>
        <p>Anonymous data may be collected to improve your experience but will never, ever be sold or shared. We do not collect personally identifiable data.</p>
        <p>Because the app may be unstable or insecure at this point in time, please avoid submiting any senstitive or important information.</p>
        </p>
    </div>
</div>

<% include partials/footer %>