<% include partials/header %>

<div class="spacer"></div>

<div class="ui text container center aligned main">
    
    <h2 class="ui header">Terms and Conditions/User Agreement</h2>
    
    <div class="ui divider"></div>
    
    <div class="ui text container left aligned">
        <p>This site is currently in beta. Some features may be broken or missing.</p>
        <p>Anonymous usage data may be collected to improve user experience but will not be sold or shared with third parties. We do not collect or look at personally identifiable data like emails, usernames, and passwords. </p>
        <!--The site's database is hosted in the cloud by mLab, a service owned by MongoDB with a high reputation and excellent security.-->
        <p>That said, please also remember that the app is in beta and may be unstable. This means that data you enter could inadvertently be erased at any time. Be prepared for this possibility. Please avoid entering any important information and keep in mind that your account may need to be deleted as part of future development.</p>
        <p>Likewise, the current app may not be completely secure. Please <strong>do not</strong> enter passwords that you use for other sites and try to avoid entering any sensitive or personally identifiable information. It is highly unlikely that anyone would try to hack this site or access the database at this point, but the possibility is there, despite the low odds.</p>
        </p>
    </div>
</div>

<% include partials/footer %>