<% include partials/header %>

<div class="container my-5">
    
    <h3 class="ui inverted header">User Agreement- Terms of Use</h3>
    <hr>    
    <p>By signing up, you certify that you are over the age of 13 and you give permission for the owner of this site to collect and store any information you provide. Passwords are encrypted, and we use secure and widely trusted third-party database and hosting services to store your data. However, privacy is not guaranteed. Journal entry information is transmitted and stored in an unencrypted format and shared with IBM to provide certain services such as text analysis. As such, please do not enter sensitive information anywhere on this site. </p>
</div>

<% include partials/footer %>