html {
    font-size: 14px;
}

body {
    height: 100%;
}

.inline {
    display: inline;
}

#action-btn {
    margin: 1em 0 2em 0;
}

#noborder {
        border: none;
    box-shadow: none;
}

.main {
    margin-top: 6em;
    margin-bottom: 5em;
    line-height: 1.5em;
}

.theting {
    padding-top: 8em;
}

#entrybox {
    font-family: monospace;
    line-height: 175%;
    height: 35em;
}

#tags {
    padding: .25em;
}

.index-left {
    display: block;
    float: left;
}

#jumbotron {
    padding: 15em;
    margin: 0;
    border-radius: 0;
    background: url(/images/stock-typing2.jpeg) no-repeat center center fixed;
    background-size: cover;
}

#jumbotron .ui {
    z-index: 5;
}

#ten-padded {
    padding: 10rem;
    margin: 0;
}

#splash-content {
    margin-top: 20%;
}

#site-title {
    font-family: 'Cutive Mono', monospace;
}

#jumbotron #site-title {
    font-weight: 500;
    font-size: 3em;
}

#site-title {
    font-family: 'Cutive Mono', monospace;
    font-weight: 700;
}

.ui.stripe {
    padding: 10em 0;
}

#stripe {
    border: none;
}

#spacer {
    margin-bottom: 5em;
}

.goskraa {
    height: 100%;
}

.entry-preview {
    font-family: monospace;
    font-size: .8em;
    color: black;
    padding-bottom: 1rem;
}

.entrybody {
    font-family: monospace;
    font-size: 1rem;
}

.spacer {
    height: 7em;
}

p {
    line-height: 175%;
}

.timer-close:hover, .timer-on:hover {
    cursor: pointer;
}

.lander-text {
    font-size: 1.3em;
}

.message.lander-padded, .lander-padded {
    padding-top: 4em;
    padding-bottom: 4em;
}

.big-anchor {
    display: block;
    padding: 1em;
}

#timer-label {
    margin: .5em;
}

#main-form {
    border-radius: .5em;
}

.landing-p {
    font-size: 1.2em;
    line-height: 1.8;
}

#darkborder { /*do this in the semantic master styles later*/
    border-color: #aaaaaa;
}