html {
    font-size: 14px;
}
body {
    height: 100%;
}

#entrybox {
    font-family: monospace;
    line-height: 175%;
    height: 35em;
    background-color: transparent;
    color: white;
}

#site-title {
    font-family: 'Cutive Mono', monospace;
    font-weight: 700;
}

p {
    line-height: 175%;
}

.timer-on, .timer-close, .modal-btn {
    display: inline-block;
    margin-bottom: .6em;
}

.big-anchor {
    display: block;
    padding: 1em;
}

#timer-label {
    margin: .5em;
}

#main-form {
    border-radius: .5em;
}

.landing-p {
    font-size: 1.2em;
    line-height: 1.8;
}

#darkborder { /*do this in the semantic master styles later*/
    border-color: #aaaaaa;
}

.value i {
    display: inline-block;
    position: relative;
    padding-left: .2em;
    top: -.15em;
}

#no-darken:hover {
    background-color: transparent;
    cursor: default;
}

.index {
    font-size: .9em;
    color: lightblue;
    padding: 0 0.35em;
    border: 1px solid lightblue;
    border-radius: .3em;
}

.quote {
    font-size: 1.5em;
}

.chart.column {
    height: 12em;
}

.chart-label {
    display: inline-block;
    padding: 0.2em;
    color: white;
}

.typewriter {
    font-family: 'Cutive Mono', monospace;
}

.tagbox {
    background-color: transparent;
    color: white;
    border: none;
}

.filter-controls {
    background: #e9ecef;
}

/* Fix for bootstrap's dumb menu bar shadows */
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 0 0 rgba(255,255,255,.25);
}

.no-achor-styles {
    color: inherit;
    text-decoration: none;
}

.no-anchor-styles {
    color: inherit;
    text-decoration: none !important;
}

/* Bootstrap breaks for tablet on min-width: 768 (inclusive) so we assign a max of 767 (also inclusive) to target smaller than tablet */
@media only screen and (max-width: 767px) {

    .secondary-nav {
        width: 100%;
        top: 49px;
    }

    .filter-controls {
        top: 96px;
    }

    .filter-controls {
        border-radius: 0 !important; /* Overrides Bootstraps .rounded class rule */
    }

}