body {
    background: none;
    background-color: white;
}

.lander-text {
    font-size: 1.3em;
}

.message.lander-padded, .lander-padded {
    padding-top: 4em;
    padding-bottom: 4em;
}

#mission {
    font-weight: 300;
}

.mission.container {
    padding: 5em;
}

.ui.horizontal.header.divider {
    font-size: 1.5em;
}

.black {
    background-color: #1b1c1d;
}

.column > .header {
   position: relative;
   top: 50%;
   transform: translate(0, -50%);
}

#jumbotron #site-title {
    font-weight: 500;
    font-size: 3em;
}

#jumbotron {
    padding: 15em;
    margin: 0;
    border-radius: 0;
    background: url(/images/stock-typing2.jpeg) no-repeat center center fixed;
    background-size: cover;
}

#jumbotron .ui {
    z-index: 5;
}

#ten-padded {
    padding: 10rem;
    margin: 0;
}

.column .segment a {
    font-size: .8em;
}

#thiccy {
    font-size: 2.6em;
}