.main-wallpaper {
    background: #333333 url(/images/stock-typing2.jpeg) no-repeat center center fixed;
    background-size: cover;
    background: rgb(255,26,196);
    background: linear-gradient(151deg, rgba(255,26,196,1) 0%, rgba(182,85,255,1) 49%, rgba(0,212,255,1) 100%); 
    border-radius: 0 !important;
    height: 100vh;
}

.title-container {
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    top: 35vh;
    transform: translateY(-50%);
}

.call-to-action-btn {
    background: #5fdaff;
    color: white !important;
    text-shadow: 0px 0px 1em #317185;
    padding: 0.5em 2em;
}

.call-to-action-btn:hover, .login-btn:hover {
    background: white;
    text-shadow: none;
    color: #5fdaff !important;
}

.landing-content-clipper {
    z-index: 2000;
    position: fixed;
    top: 50px;
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
}

.content-container {
    margin: 70vh 0 0 0;
    padding: 1rem 0;
    width: 100% !important;
}

/* matches bootstrap xs-md but not lg or xl */
@media only screen and (max-width: 991px) {
    .main-nav {
        z-index: 2001;
    }
    .main-nav-menu {
        width: 100vw;
        background: white;
    }

    .main-nav-menu a {
        color: #212529 !important;
        border-color: #212529 !important;
    }
}