<% include partials/header %>

<div class="container text-center my-5">
    <h2 class="mb-5">Account Settings</h2>
    <form action="/account?_method=DELETE" method="POST" onsubmit="return confirm('ARE YOU POSITIVE YOU WANT TO PERMANENTLY DELETE YOUR ACCOUNT?? THIS ACTION IS PERMANENT!');">
        <button class="btn btn-danger">Delete Account</button>
    </form>
</div>

<% include partials/footer %>