<% include partials/header %>
<script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js"></script>
<script src="/tagify.min.js"></script>
<link rel="stylesheet" href="/stylesheets/tagify.css">

<div class="container my-5 text-center">
    <h3 class="mb-3"></h3>
    <a class="timer-on mb-2 w-auto" style="display:none" role="button" onclick='toggleTimer()'>Show timer</a>

    <div class="timer mb-2">
        <button id="play" class="btn btn-outline-secondary mb-2">Play</button>
        <button id="pause" class="btn btn-outline-secondary mb-2" style="display: none">Pause</button>
        <input class="form-control d-inline" style="width: 3em" type="text" id="minutes" value="20" maxlength="2"></input> :
        <input class="form-control d-inline" style="width: 3em" type="text" id="seconds" value="00" maxlength="2"></input>
        <a class="timer-close" role="button" onclick='toggleTimer()'>Hide timer</a>
    </div>
    
    <form onsubmit="finalizeDates()" action="/entries" method="POST">
        <input id="streak-date" style="display: none" name="streakDate">
        <input id="date-input" style="display: none" name="entry[date]">
        <textarea class="form-control mb-2" id="entry-input-box" rows="10" name="entry[body]" placeholder="Start writing" autofocus></textarea>
        <div class="form-row mb-2">
            <div class="col-auto">
                <label class="col-form-label pt-2 modal-btn-2" for="tag-box">Optional: Add tags</label>
            </div>
            <div class="col">
                <input type="text" name="tags" placeholder="Write some tags. '#' is not necessary" id="tag-box">
            </div>
        </div>
        <a href="javascript:history.back()" class="btn btn-outline-secondary" title="Cancel">Cancel</a>
        <button class="btn btn-primary" type="submit" title="Save!">Done</button>
    </form>
</div>

<div class="ui large modal 2">
    <div class="header">Help: Tags</div>
    <div class="ui items">
        <div class="item">
            <div class="ui image">
                <div class="ui large bordered image">
                    <img src="/images/tagshelp1.png">
                </div>
            </div>
            <div class="middle aligned content">
                <p>Use tags to categorize entries. For example, you could tag every entry that talks about dogs with 'dogs'.</p>
            </div>
        </div>
        <div class="item">
            <div class="ui image">
                <div class="ui large bordered image">
                    <img src="/images/tagshelp2.png">
                </div>
            </div>
            <div class="middle aligned content">
                <p>Your tags will show up on the entries page.</p>
            </div>
        </div>
        <div class="item">
            <div class="ui image">
                <div class="ui large bordered image">
                    <img src="/images/tagshelp3.png">
                </div>
            </div>
            <div class="middle aligned content">
                <p>Clicking on a tag will show you all the entries that reference that tag.</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui close button 2">Got it</div>
    </div>
</div>

<script>
    
    var tagArr = <%- JSON.stringify(tags.map(t => t.name)) %>;
    var input = document.querySelector("input[name=tags]");
    // init Tagify script on the above inputs
    tagify = new Tagify(input, {
        delimiters          : ",| ",  // add new tags when a comma or a space character
        keepInvalidTags     : false,  // do not remove invalid tags (but keep them marked as invalid)
        whitelist: tagArr,
        dropdown : {
            enabled: 1,
            maxItems: 5
        }
    });
    
    var btn2 = document.querySelector(".modal-btn-2");
    btn2.onclick = function() {
        $('.ui.modal.2').modal({
            onShow: function(){
                console.log('shown');
            },
            onHide: function(){
                console.log('hidden');
            }
        }).modal('show');
    }
    
    //display client date time at top of page
    document.querySelector("h3").innerHTML = moment().format("MMMM Do, YYYY");
    
    var finalizeDates = function() {
        var e = moment().format("D MMM YYYY, h:mm a");
        document.querySelector("#date-input").value = e;
        var d = new Date();
        var dateArr = [];
        dateArr.push(d.getFullYear());
        dateArr.push(d.getMonth());
        dateArr.push(d.getDate());
        console.log(dateArr);
        document.querySelector("#streak-date").value = dateArr;
    }
    
    //======================
    // TIMER CODE
    //======================
    
    var timerOn = 0;
    function toggleTimer() {
        var timer = document.querySelector(".timer");
         if (timer.style.display !== "none") {
            timer.style.display = "none";
            document.querySelector(".timer-on").style.display = "inline-block";
         } else {
            timer.style.display = "block";
            document.querySelector(".timer-on").style.display = "none";
         }
    }
    
    var timer;
    var disp1 = document.getElementById("minutes");
    var disp2 = document.getElementById("seconds");
    var pause = document.getElementById("pause");
    var play = document.getElementById("play");
    
    // THIS IS TERRIBLY COMPLICATED AND I DIDN'T WRITE ANY COMMENTS SORRY
    function countDown(i, callback) {
        timer = setInterval(function() {
            var mins = Math.floor(i / 60);
            var secs /*lol*/ = i - mins * 60;
            if (secs.toString().length === 1) {
                secs = "0" + secs.toString();
            }
            if (mins.toString().length === 1) {
                mins = "0" + mins.toString();
            }
            disp1.value = mins;
            disp2.value = secs;
            i-- || (clearInterval(timer), callback());
        }, 1000);
    }

    function startTimer() {
        pause.style.display = "inline";
        play.style.display = "none";
        countDown(disp1.value * 60 + disp2.value * 1, function(){ // *1 is to convert data type from string to number
            disp1.value = 20;
            pause.style.display = "none";
            play.style.display = "inline";
        });
    }
    
    $("#play").on("click", function(){
        startTimer();
    });
    
    var buh = 0;
    
    $("#entry-input-box").on("input", function() {
        if (buh === 0) {
            startTimer();
            buh = 1;
        }
    });
    
    $("#pause").click(function(){
        clearInterval(timer);
        pause.style.display = "none";
        play.style.display = "inline";
    });
</script>

<% include partials/footer %>