<% include partials/header %>

<div class="container my-5">
    
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-8 col-lg-5">
            <h3 class="text-center">New Quote</h3>
            <p>If you've gotten to this page and you don't know what an index is, type the average number you see on all the other quotes. Indices represent how many times a particular quote has been chosen as the main site quote. Alternatively, type whatever you want for the index and then hit "reset indices" on the other page to reset all indices to zero, making all quotes equally likely.</p>
            <form action="/quotes" method="POST">
                <div class="field">
                    <textarea class="form-control mb-2" placeholder="Body" name="quote[body]" autofocus></textarea>
                    <input class="form-control mb-2" type="text" placeholder="Author" name="quote[author]">
                    <input class="form-control mb-2" type="text" placeholder="Source" name="quote[source]">
                    <input class="form-control mb-2" type="text" placeholder="Index" name="quote[index]">
                </div>
                <a href="/quotes" class="btn btn-outline-secondary">Back</a>
                <button class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>
