<% include partials/header %>

<div class="container my-5">
    
    <h3 class="ui inverted header">User Agreement- Terms of Use</h3>
    <h6>Updated 10/20/2021</h6>
    <hr>    
    <p>By signing up, you certify that you are over the age of 13 and give permission for the owner of this site to collect and store any information you provide. We follow industry standards for handling sensitive data such as passwords and use secure and widely trusted third-party database and hosting services to store your data. However, privacy is not guaranteed. Journal entry information is transmitted and stored in an unencrypted format and shared with IBM to provide certain services such as text analysis. Do not enter sensitive information anywhere on this site. Similarly, the app is in development, meaning that your data could be lost or damaged at any time. By using this site you acknowledge that we clain no responsibility for these consequences. </p>
</div>

<% include partials/footer %>